body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Helvetica;
}
/* -------------------------------------------------------------*/

.headline {
    font-weight: bold;
    color: white;
}
.headline-image {
    width: 20%;
    height: auto;
}
/* -------------------------------------------------------------*/

.grid-container {
    position: fixed;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 10% 30% 30% 30%;
    height: 100%;
    width: 100%;
}
.grid-item {
    background-color: rgb(120, 120, 120);
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
}
.grid-item-title {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    padding: 5px;
    width: 100%;
}
/* -------------------------------------------------------------*/

.entities {
    padding: 0;
}
.twitter {
    grid-area: 1 / 2 / 5 / 5;
}